<!-- footer.html -->
<footer >
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <h5 class="text-uppercase">About Us</h5>
                <p>
                    We are a passionate team dedicated to bringing you the best coffee experience.
                </p>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <h5 class="text-uppercase">Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Email: <a href="mailto:info@coffeeshop.com" class="text-white">info@coffeeshop.com</a></li>
                    <li>Phone: +1 (234) 567-8901</li>
                    <li>Address: 123 Coffee Lane, Bean City, CA 98765</li>
                </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <h5 class="text-uppercase">Follow Us</h5>
                <a href="#" class="text-white me-3">Facebook</a>
                <a href="#" class="text-white me-3">Twitter</a>
                <a href="#" class="text-white me-3">Instagram</a>
            </div>
        </div>
    </div>
    <div class="bg-dark text-center py-2">
        <p class="mb-0">© 2024 Coffee Shop. All rights reserved.</p>
    </div>
</footer>
